.root {
  height: 1433px;
  width: 1268px;
  margin: auto;
}
/* head-part */
.head {
  background-color: rgb(29, 81, 129);
  padding: 1px;
  color: white;
}
.head p {
  margin-left: 65px;
}
.head a {
  color: white;
}
.rightt {
  float: right;
  margin-right: 45px;
}
/* navber-part */
.navber ul {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 70px;
  margin-top: 25px;
}
.navber ul li {
  list-style-type: none;
  display: inline-block;
}
.navber ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: sans-serif;
  padding: 9px 25px;
}
.navber ul li a:hover{
    color: rgb(43, 76, 226);
}
.navber img{
    width: 150px;
    margin-left:  75px;
}
.news li a{
    background-color: orangered;
    border-radius: 8px;
}
/* heading-part */
.heading{
    background-color: rgb(235, 229, 235);
    padding: 10px;
    color: rgb(9, 89, 163);
    border-bottom: 3px solid rgb(206, 198, 198);
}
.heading h2{
    display: inline-block;
    margin-left: 50px;
}
.heading ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin: 15px;
    margin-right: 83px; ;
}
.heading ul li{
    list-style-type: none;
    display: inline-block;
}
.heading ul li a{
    text-decoration: none;
    color: rgb(0, 119, 255);
}
/* banner */
.banner{
    height:731px;
}
.right img{
    width: 994px;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 55px;
    display: inline-block;
}
.right,
.left{
    height: 98%;
    float: right;
}
.left{
    width: 15%;
}
.right{
    width: 84%;
}
.left .box{
    height: 60px;
    width: 60px;
    background-color: rgb(23, 76, 126);
    text-align: center;
    border-radius: 5px;
    margin-left: 103px;
    margin-top: 62px;
    color: white;
}
.left .box1{
    height: 50px;
    width: 60px;
    background-color: rgb(255, 51, 0);
    text-align: center;
    border-radius: 4px;
    margin-left: 103px;
    color: white;
}
.left .box1 img{
    width: 40px;
}
.box2,
.box3,
.box4{
  width: 70px;
  height: 35px;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  /* border: 1px solid; */
}
.paragraph h2{
  color: darkcyan;
  font-family: sans-serif;
}
.paragraph p{
  color: rgb(11, 52, 85);
}
.box5,
.box6{
  width: 40px;
  height: 28px;
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;

}
.box5{
  background-color: rgb(0, 89, 255);
  color: white;
  padding-top: 10px;
}
.box6{
  background-color: orangered;
  color: white;
  padding-top: 10px;
}
.page{
  height: 80px;
}
.page p{
  display: inline-block;
  margin-left: 1090px;
  margin-top: 29px;
  color: royalblue;
}
/* subnavber_part */
.sub_nav{
  
  color: royalblue;
  padding-left: 72px;
}
/* contacts_part */
.contact{
  height: 245px;
}
.box7,
.box8,
.box9{
  height: 245px;
  width: 422px;
  background-color: rgb(235, 229, 229);
  float: left;
  text-align: center;
  color: rgb(21, 96, 158);
  
}
.box7 img{
  width: 120px;
}
.footer{
  background-color: rgb(10, 57, 143);
  color: white;
  height: 80px;
}
.footer h4{
  display: inline-block;
  margin-left: 35px;
}
.footer p{
  display: inline-block;
  float: right;
  margin-right: 85px;

}